* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding/borders are included in width/height calculations */
}

html,
body,
#root {
  height: 100%;
  font-size: 10px;
  overflow: hidden; /* Absolutely prevents unwanted scrolling */
}

.image-container {
  width: 100%;
  overflow: hidden; /* Important for 'cover' to clip content */
}

.image-container img {
  width: 100%;
  height: 100% !important;
  object-fit: cover; /* or 'contain' */
}

