

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  --primary-color: "red";
}


.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

