.image-gallery11 {
  display: grid;
  /* Creates exactly 11 columns, each taking up an equal fraction of the space */
  grid-template-columns: repeat(11, 1fr); 
  gap: 10px; /* Adds space between images */
}

.image-gallery5 {
  display: grid;
  /* Creates exactly 11 columns, each taking up an equal fraction of the space */
  grid-template-columns: repeat(5, 1fr); 
  gap: 5rem; /* Adds space between images */
}

.grid-item img {
  width: 100%; /* Ensures images fill their grid column horizontally */
  height: 5rem; /* Set a fixed height */
  width: 5rem;
  object-fit: cover; /* Prevents images from stretching and crops them to fit the container while maintaining aspect ratio */
}