.modal-confirm {
  color: #636363;
  /* width: 325px; */
  margin: 80px auto 0;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.custom-modal-content {
  /* Example Border */
  border: 8px solid #0c0c0c !important; /* Adjust color, thickness, and style as needed */

  font-family: 'Cinzel', serif;
  font-weight: 600;

  /* Optional: Adjust default border-radius */
  border-radius: 15px !important;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #ef513a;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 56px;
  position: relative;
  top: 4px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #ef513a;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #da2c12;
  outline: none;
}
.delete {
  background-color: #b11010 !important;
  border-color: white;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
input::placeholder {
  color: rgb(159, 166, 166) !important;
  opacity: 1;
}
body.modal-open .modal-backdrop {
  opacity: 0.5;
}

.button-poo-off {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  /* padding: 0.7em 1.4em 0.7em 1.1em; */
  padding-left: 2.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(130, 131, 128, 1) 0%, rgba(89, 90, 88, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #292929;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.div-poo {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  /* padding: 0.7em 1.4em 0.7em 1.1em; */
  padding-left: 1.9em;
  color: white;
  /* background: white; */
  background: linear-gradient(0deg, rgba(130, 131, 128, 1) 0%, rgba(89, 90, 88, 1) 100%);
  /* background: white; */
  /* border: bla; */
  border: 1px solid rgb(255, 255, 255);

  /* box-shadow: 0 0.7em 1.5em -0.5em #292929; */
  letter-spacing: 0.05em;
  /* border-radius: 20em; */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


/* CSS */
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  /* padding: 0.7em 1.4em 0.7em 1.1em; */
  padding-left: 3.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.button-poo-selected {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  /* padding: 0.7em 1.4em 0.7em 1.1em; */
  padding-left: 2.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(255, 102, 102, 1) 0%, rgba(255, 26, 26, 1) 100%);
  border: none;
  box-shadow: 0 0.3em 1em -0.5em #b30000;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Use the CSS variable to control max-width */
.dynamic-modal-dialog {
  max-width: var(--modal-width) !important;
  max-height: var(--modal-height) !important;
  width: 90% !important; /* Keep it responsive */
  height: 90% !important; /* Keep it responsive */
}

.modal-width1 {
  max-width: 20% !important;
}
.modal-width2 {
  max-width: 24% !important;
}
.modal-width3 {
  max-width: 30% !important;
}
.modal-width4 {
  max-width: 40% !important;
}
.modal-width6 {
  max-width: 60% !important;
}
.modal-width7 {
  max-width: 70% !important;
}
.modal-width7 {
  max-width: 70% !important;
}
.modal-width100 {
  max-width: 100% !important;
}
