.custom-modal-main-content {
  border: 1px solid #fff !important; 

  font-family: "Cinzel", serif;
  font-weight: 600;

  border-radius: 15px !important;

  background-color: rgba(75, 60, 52, 0.8);
}

.dynamic-modal-dialog {
  max-width: calc(var(--modal-width) + 2rem + 20px) !important; 
}

/* Ensure the custom-modal-main-content has no margins/padding if needed */
.custom-modal-main-content {
    margin: 0 !important;
}

/* 
   This wrapper controls the internal padding within the Modal.Body area.
*/
.image-wrapper-with-padding {
    /* This padding is *in addition* to the Modal.Body padding */
    padding: 10px; 
    /* width and height are 100% implicitly filling the Modal.Body content area */
}

/* 
   This is the critical part for the image: 
   It fills 100% of the yellow div which fills 100% of the padded wrapper.
*/
.modal-inner-image {
  width: 131%;  
  height: 100%; 
  /* Use 'fill' to stretch the image to fit the container exactly, ignoring aspect ratio */
  object-fit: fill; 
}


.toggle-button2 {
  padding: 10px 15px;
  background-color: #390607;
  color: #f8c51a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
