.custom-modal-content {
  border: 8px solid #0c0c0c !important;

  font-family: 'Cinzel', serif;
  font-weight: 600;

  border-radius: 15px !important;
}


/* CSS */
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  /* padding: 0.7em 1.4em 0.7em 1.1em; */
  padding-left: 3.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(97, 12, 15, 1) 0%, rgba(135, 26, 30, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d080b;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d080b;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #4d080b;
}


.scenario-selector-container {
  padding: 2rem;
  width: 46rem;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.toggle-container {
  margin-bottom: 2rem;
}

.toggle-button {
  padding: 10px 15px;
  background-color: #a67c52; /* Roman bronze color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.toggle-button2:hover {
  background-color: #430608;
}
.toggle-button:hover {
  background-color: #8c6a46;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.2s; 
  border: 2px solid transparent; /* Prevents layout shift on hover */
}

.radio-label:hover {
  border-color: white; /* White border on hover */
}

.radio-label input[type="radio"] {
  margin-right: 15px;
  accent-color: #a67c52; 
  width: 1.2em; 
  height: 1.2em;
}

p {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
